<div class = "show_container">
  <div class = "show_id_container">
    ID: <%= category.id %>
  </div>

  <div class = "show_name_container">
    Category Name: <%= category.category_name %>
  </div>

  <div class = "show_body_container">
    category Description: <%= category.category_body %>
  </div>
</div>
<div class = "back_button">
  <td><%= link_to "Back", categories_path %></td>
  <!--<td><%= link_to "Add task", new_category_task_path(category_id: @category.id) %></td> redirected to new.html.erb--->
    <td><%= link_to "Show task", category_tasks_path(category_id: @category.id) %></td> <!--redirected to index.html.erb-->
</div>