<%= render "shared/navbar"%>

<%= form_with scope: :category, model: @category, method: :put, locale: true do |f| %>

<div class="container-lg">
  <% if @category.errors.any? %>
    <ul>
      <% @category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
<div class="field">
  <%= f.label :category_name %>
  <%= f.text_field :category_name %>
</div>

<div class="field">
  <%= f.label :category_body %>
  <%= f.text_field :category_body %>
</div>

<div class="action-buttons-login">
  <%= f.submit %>
</div>

</div>

  <%= link_to "Back", categories_path %>

  <button type="button" class="btn btn-outline-dark"><%= link_to "Back", categories_path %></button>
<% end %>