<%= render "shared/navbar"%>
<div>
  <h1>My Journal App</h1>
  <div>
    <button type="button" class="btn btn-primary"><%= link_to "Add new category", new_category_path %></button>
  </div>

  <% name = current_user.present? ? current_user.email : 'Stranger' %>
<h1>Welcome, <%= name %> </h1>
<p>Find me in app/views/home/index.html.erb</p>
</div>


  <div>
  <table>
      <tr>
        <td>Category ID</td>
        <td>Category Name</td>
        <td>Category Description</td>
      </tr>

      <%@categories.each do |category| %>
      <tr>
        <td><%= category.id %></td>
        <td><%= category.category_name %></td>
        <td><%= category.category_body %></td>
        
        <div>
          <td><button type="button" class="btn btn-secondary"><%= link_to "Edit", edit_category_path(category.id) %></button></td>
          <td><button type="button" class="btn btn-secondary"><%= link_to "Show", category_path(category)%></button></td>
          <td><button type="button" class="btn btn-danger"><%= link_to "Delete", category_path(category.id), method: :delete, data: { confirm: "Are you sure?" } %></button></td>
        </div>
      </tr>
      <%end%>

  </table>
  </div>
