<%= render "shared/navbar"%>

<div class="row">
  <h1>My Journal App</h1>
  <div>
    <button type="button" class="btn btn-primary"><%= link_to "Add new category", new_category_path %></button>
  </div>

  <%= name = current_user.present? ? current_user.first_name : "Stranger" %>

<h1>Welcome, <%= current_user.first_name %> </h1>

  <div >
  <table>
      <tr>
        <td>Category ID</td>
        <td>Category Name</td>
        <td>Category Description</td>
        <td>User ID</td>
      </tr>

      

      <%@categories.each do |category| %>
      <%if category.user == current_user%>
      <tr>
        <td><%= category.id %></td>
        <td><%= category.category_name %></td>
        <td><%= category.category_body %></td>
        <td><%= category.user_id %></td>
        
        <div>
          <td><button type="button" class="btn btn-secondary"><%= link_to "Show", category_path(category)%></button></td>
          <td><button type="button" class="btn btn-danger"><%= link_to "Delete", category_path(category.id), method: :delete, data: { confirm: "Are you sure?" } %></button></td>
          <td><button type="button" class="btn btn-secondary"><%= link_to "Edit", edit_category_path(category.id) %></button></td>
        
        </div>
      </tr>
      <%end%>
      <%end%>

  </table>
  </div>
